.branchCardWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  width: 389.33px;
  height: 217px;
  background: #f8f8f8;
  box-shadow: 4px 0px 12px rgba(24, 21, 17, 0.04);
  border-radius: 18px;
}

.branchName {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}

.branchTimeJob {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(150, 144, 144);
}

.branchTime {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.branchForDay {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}