.cart {
  max-width: 1248px;
  display: flex;
  margin: 30px auto;
  gap: 16px;

  @media (max-width: 970px) {
    display: flex;
    max-width: 1248px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

.cartMenu {
  width: 827px;
  background: white;
  border-radius: 20px;

  @media (max-width: 970px) {
    width: 700px;
    // max-width: 827px;
  }
}

.header {
  border-bottom: 1px solid rgb(173, 170, 170);
  // width: 827px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.delete {
  display: flex;
  gap: 18px;
}

.text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #292929;
}

.order {
  display: flex;
  justify-content: space-between;
  margin: 8px 24px;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(187, 183, 183);
  }
}

.orderMenu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.orderName {
}

.orderCount {
}

.orderImg {
  width: 70px;
  height: 70px;

  img {
    width: 100%;
  }
}

.orderTitle {
  margin-bottom: 8px;
}

.orderSubTitle {
}

.orderCunt {
  display: flex;
  align-items: center;
  gap: 13px;
}

.count {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #292929;
}

.number {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.cartPrice {
  width: 405px;
  background: white;
  border-radius: 20px;
  padding: 16px 24px;
}

.priceHeader {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(189, 185, 185);
}

.priceCount {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.priceNumber {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
}

.priceNumberCount {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
}

.priceDelivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.priceSumma {
  display: flex;
  justify-content: space-between;
}

.confirmation {
  text-align: center;
  margin: 0 auto;
}
