.allProducts {
  max-width: 1248px;
  margin: 0 auto;
}

.menuName {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #292929;
  margin-bottom: 24px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  gap: 26px;
  // justify-content: center;
  align-items: center;
}

.product {
  width: 300px;
  // height: 410px;
  background: #ffffff;
  border-radius: 12px;
  margin: 8px 0;
  padding: 20px 10px 5px;
}

.productImage {
  width: 128px;
  height: 160px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;

  img {
    width: 128px;
    height: 160px;
  }
}

.title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
  margin-bottom: 15px;
}

.subtitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  margin-bottom: 20px;
}

.productInfo {
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    width: 111px;
    height: 40px;
    background: #ec8d1e;
    border-radius: 34px;
    border: none;
    color: white;
  }
}

.price {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ec8d1e;
}
