.header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  width: 1248px;
  height: 540px;
  border-radius: 12px;
}

.head {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.chevronR {
  margin-left: -20px;
  display: flex;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.chevronL {
  position: relative;
  margin-right: -20px;
  display: flex;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
