.category {
  margin: 40px auto 0;
  max-width: 1248px;
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
  overflow-x: auto;

  @media (max-width: 990px) {
    overflow-x: auto;
  }

  button {
    padding: 14px 24px;
    background: #ffffff;
    border-radius: 100px;
    border: none;
    white-space: nowrap;
  }

  button:hover {
    background: #ec8d1e;
    color: white;
  }
}

.category::-webkit-scrollbar {
  width: 0;
}

