.footer {
  max-width: 1440px;
  padding: 45px 96px 50px;
  // margin: 135px auto 0;
  background: #ffffff;
}

.footerTop {
  border-bottom: 1px solid #b1aeae;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 0 37px 0;
}

.footerLogo {
  position: absolute;
  width: 72px;
  height: 54px;
  left: 0;
  top: 0;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.info {
  display: flex;
  text-decoration: none;
  gap: 40px;
}

.text {
  outline: none;
  text-decoration: none;
}

.rights {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.footerBottom {
  justify-content: space-between;
  display: flex;
  padding: 40px 0 0 0;
}

.icons {
  display: flex;
  gap: 16px;
}

.instagram {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 30px;
  background: #808080;
}
