.contact {
  width: 721px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 15px;
  background: #E5E5E5;    
}

.title {
  margin-bottom: 40px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.tel {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #808080;
  margin-bottom: 20px;
}

.contactInfo {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.contactBot {
}

.contactTel {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}
