.branchWrap {
  width: 1248px;
  background: #FFFFFF;
}

.branchHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgb(160, 155, 155);
}

.headerText {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.headerButtons {
  display: flex;
  gap: 20px;
}

.allBranches {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  width: 389.33px;
  height: 217px;
  background: #F8F8F8;
  box-shadow: 4px 0px 12px rgba(24, 21, 17, 0.04);
  border-radius: 18px;
}

.branchName {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #292929;  
}

.branchTimeJob {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(150, 144, 144);
}

.branchTime {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.branchForDay {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}